
	<p style="color:red" ><%= flash[:error]%></p>

	<P>Цена: <br/><%= f.text_field :price %></p>
	<P>Имя: <br/><%= f.text_field :name %></p>
	<p>Описание: <br/><%= f.text_field :description %></p>
	<P>Вес: <br/><%= f.text_field :weight %></p>