<!DOCTYPE html>
<html>
<head>
  <title>MyStore</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<p><%= link_to "Главная", root_path %>
&mdash;
<%= link_to "Товары", items_path %></p>
<%= yield %>

</body>
</html>
